wp-config.php
.htaccess
nginx.conf

/wp-admin/
/wp-includes/
/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backups/


*.log
*.sql
.DS_Store
Thumbs.db
node_modules/